#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

.app-header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fcb4d4;
}

.start-button {
  background-color: #fcb4d4;
  color: #402c34;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.submit-btn {
  padding: 10px;
  background-color: #fcb4d4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #fcb4d4;
}

p {
  margin-top: 20px;
}

a {
  color: #fcb4d4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

