  header {
    position: fixed; /* Define o cabeçalho como referência para posicionamento absoluto */
    width: 100%; /* Ocupa toda a largura da tela */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #070405; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 15px 0; /* Espaçamento interno */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    padding-left: 20px; /* Espaçamento da esquerda */
  }
  
  body {
    margin-top: 60px; /* Adiciona um espaço no topo do corpo para evitar que o conteúdo fique escondido atrás do cabeçalho fixo */
  }
  
  .header h1 {
    font-size: 40px;
    margin: 0;
    color: #ffffff; 
    text-align: left;
  }

  nav ul li {
    margin-left: 20px;
  }

  html, body {
    height: 100%;
    margin: 0; /* Remove margens padrão */
    color: #010102; /* Cor do texto */
    display: flex; /* Usar flexbox para centralizar o conteúdo */
    flex-direction: column; /* Colocar os itens em uma coluna */
    justify-content: center; /* Alinhar os itens verticalmente ao centro */
    align-items: center; /* Alinhar os itens horizontalmente ao centro */
    font-family: Georgia, serif;
  }

  .sidebar-toggle {
    position: absolute; /* Permite posicionar a imagem livremente */
    right: 30px; /* Define a distância da borda direita */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical para o centro */
    width: 40px; /* Ajusta o tamanho da imagem */
    height: 40px;
    cursor: pointer; /* Mostra que o elemento é clicável */
  }
  
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  } 