.taylorswift .header {
    background-color: #acccac; /* Cor de fundo do cabeçalho */
    color: #000; /* Cor do texto */
  }
  
  .taylorswift .header h1 {
    color: #0c1c0c !important; /* Cor do título no cabeçalho */
  }
  
/* Estilização da página */
.taylorswift-content {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f0e68c; /* Cor do título */
  }
  
/* Container flexível para botões */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  /* Botão estilizado */
  .music-button {
    background-color: #acccac;
    color: #0c1c0c;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: grab;
    transition: background-color 0.3s ease;
    width: 80%;
    user-select: none; /* Impede seleção durante o arrasto */
  }
  
  .music-button:active {
    cursor: grabbing;
    background-color: #4682b4;
  }
  
  .music-button.dragging {
    opacity: 0.6;
    background-color: #5f9ea0;
  }
  
  